@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Montserrat+Alternates&family=Montserrat:wght@500;600;700;800&family=PT+Sans&family=Poppins:wght@300;400;500&family=Varela+Round&display=swap");

nav,
footer {
  background-color: #eee;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("./images/light-patten.svg");
}

a {
  color: black;
}
